* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

nav ul li a {
    color: black;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline; 
}

#google {
    background-image: url(https://www.google.com/logos/doodles/2019/50th-anniversary-of-the-moon-landing-6524862532157440.4-vacta.gif);
    width: 391px;
    height: 220px;
    background-size: contain;
    margin: auto;
}

nav ul {
    text-align: right;
}

nav ul li {
    display: inline-block;
    padding: 10px;
    margin: 10px;
    font-size: 0.9em;
}
